.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.brand {
    font-size: 50px;
    font-weight: 700;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 375px;
    height: 250px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.intro .left p {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    margin: 0px;
}

.intro .left button {
    width: 80px;
    height: 30px;
}

#tagline {
    text-align: center;
    margin: 0px;
}

img {
    width:auto;
    height:100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.info h3 {
    margin: 0px;
}

.info-container {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.info-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container li img {
    width: 120px;
    height: 120px;
}

.info-container li p {
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}