* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.brand {
    font-size: 50px;
    font-weight: 700;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro img {
    width: 375px;
    height: 250px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.intro .left p {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    margin: 0px;
}

.intro .left button {
    width: 80px;
    height: 30px;
}

#tagline {
    text-align: center;
    margin: 0px;
}

img {
    width:auto;
    height:100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.info h3 {
    margin: 0px;
}

.info-container {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.info-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container li img {
    width: 120px;
    height: 120px;
}

.info-container li p {
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.quote h3 {
    margin: 0px;
    font-style: italic;
    font-size: 30px;
}

.quote p {
    margin: 0px;
    text-align: right;
    font-weight: 700;
}

.signup {
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.signup .container {
    display: flex;
    background-color: #1446A0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
}

.signup .container .text {
    display: flex;
    flex-direction: column;
}

.signup .container .text h3 {
    margin: 0px;
    color: white;
}

.signup .container .text p {
    margin: 0px;
    color: white;
    font-size: 12px;
}

.signup .container button {
    background-color: #1446A0;
    border-radius: 5px;
    border-color: white;
    padding: 10px;
    color: white;
}

.footer {
    background-color: #f2f2f2;
}

.footer p {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}